<div class="jumbotron">
<h1>Good morning, Startup Institute.</h1>
<p>Spread the SI love to your alums.</p>
<span>
    <a class="btn btn-primary btn-large">Share an opportunity</a>
    <a class="btn btn-warning btn-large">Find an opportunity</a>
</span>
</div>