<section class="home">
    <div class="jumbotron">
    <h1>Good morning, Startup Institute.</h1>
    <p>Spread that SI love.</p>
    <span>
        <%= link_to "Share an Opportunity", new_opportunity_path, {class: "btn btn-primary btn-large"} %>
        <%= link_to "Find an Opportunity", opportunities_path, {class: "btn btn-warning btn-large"} %>
    </span>
    </div>
</section>