<section class="subscribe">
    <div class="jumbotron">
        <h2>I haven't actually built this part yet.</h2>
        <p>If you want to know if a certain opportunity pops up, send me an email and I'll keep an eye out for you.</p>
        <p><em>bonnerjp at gmail.</em></p>
        <p>Or you could <a href="http://github.com/bonnerjp/opportunitydatabase">build this part yourself</a>.</p>
    </div>
</section>