<footer class="footer">
    <div class="container">
        <small>
            Powered by milk tea.
        </small>
        <nav>
        <ul>
          <li><%= link_to "the Institute",   "http://www.startupinstitute.com/" %></li>
          <li><%= link_to "Talk to me", "http://j4p3.com" %></li>
          <li><%= link_to "Contribute", "http://github.com/bonnerjp/opportunitydatabase" %></li>
        </ul>
        </nav>
    </div>
</footer>