<div class="navbar">
  <div class="container">
    <%= link_to "SI ODB", root_path, {class: "navbar-brand"}%>
    <ul class="nav navbar-nav">
      <li class="active"><% link_to "Home", root_path %></li>
      <li><%= link_to "Share an Opportunity", new_opportunity_path %></li>
      <li><%= link_to "Find an Opportunity", opportunities_path %></li>
    </ul>
  </div>
</div>