<div class="navbar">
  <a class="navbar-brand" href="#">SI ODB</a>
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Share an opportunity</a></li>
    <li><a href="#">Find an opportunity</a></li>
  </ul>
</div>